html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    height: 100vh;
    margin: 0;
    padding: 10px;
 }
 table {
    margin-left: 45px;
 }

 td {
    border: 1px solid #eee;
    padding: 3px;
    text-align: center;
 }
 code {
    color: #007b00;
 }
 a {
    color: red;
 }

 .active {
    background-color: rgb(218 224 229) !important;
    color: #000 !important;
 }